{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
body {
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 1000px;
}

.login-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
}

.login-form {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #218838;
}

.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
</style>

<div class="login-container">
    <div class="login-box">
        <div class="login-form">
            <h1>Connexion</h1>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form method="post" action="{{ path('app_login') }}">
                <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" value="{{ last_username }}" required autofocus>

        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
                <button type="submit">Se connecter</button>
            </form>
        </div>
        <div class="video-container">
            <video autoplay muted loop>
                <source src="{{ asset('Asset/img/Dragon.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>
</div>
{% endblock %}
