{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>
/* Style pour le titre */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Style général pour les champs du formulaire */
form .form-group {
    margin-bottom: 15px;
}

form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

form .form-group input[type="email"],
form .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

form .form-group input[type="checkbox"] {
    margin-right: 5px;
}

/* Style pour le bouton */
button.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #0056b3;
}

.formulaire {
    margin-top:15%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>
<div class="container mt-8">
    <div class="formulaire">
    <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
